<div class="show mt-4">
    <div class="col-lg-5">
        <h2 class="h2-show">{{product.name}}</h2>
        <img with="500" height="300" class="img-show" src="{{product.image}}">
        <p class="p-show">{{product.description}}</p>
        <h4 class="h4-show">Giá: {{product.price}} <a href="../../views/thanhtoan.hbs" class="btn-home btn">Mua hàng</a></h4>
    </div>
</div>
