
<footer class="page-footer mb-2">
 <div class="container">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5> <a class="footer-brand" href="/"><br>MUshop</a></h5>
        <p>Tinh Thần Quỷ Đỏ - Thoả Sức Đam Mê</p>

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3 ml-auto">
        <h5 class="text-uppercase">Liên hệ với chúng tôi</h5>
        <a href="https://www.facebook.com/manchesterunited/" target="_blank"><img src="https://www.verfvanniveau.nl/wp-content/uploads/2019/08/logo-social-fb-facebook-icon.png" width="50px" height="50px" alt="image"></a>
        <a href="https://www.instagram.com/manchesterunited/" target="_blank"><img src="https://image.similarpng.com/very-thumbnail/2020/05/Vector-Instagram-icon-PNG.png" width="50px" height="50px" alt="image"></a>
      </div>

    </div>

  </div>

  <div class="footer-copyright text-center py-3">© 2022 Bản quyền:
    <a href="https://www.facebook.com/xcx.pham/">Nhữ Văn Phàm-18046491</a>
  </div>
 </div>
 

</footer>