<div class="form-thanhtoan mt-5">
<form onsubmit="return validateForm()">
                <div><a>Họ Và Tên</a><br />
                    <input class="h" type="text" id="username" placeholder="Nhập họ tên..." />
                    <div class="val_error" id="name_error"></div>
                </div><br />
                <div><a>Email</a><br />
                    <input class="h" type="text" id="email" placeholder="Nhập email..." />
                    <div class="val_error" id="email_error"></div>
                </div><br />
                <div><a>Địa chỉ</a><br />
                    <textarea class="h" type="text" id="diachi" placeholder="Nhập địa chỉ..."></textarea>
                    <div class="val_error" id="diachi_error"></div>
                </div><br />
                <div class="hu"><input href="#"  type="submit">Thanh toán</input></div>
                <br />
            </form>
</div>
